Today, we're discussing a very important library in Python called `numpy`.

As a reference, these libraries are primary requirements for Data Scientists in a top Indonesian tech company - while R is not listed in the requirements. 

So, it's very important to master these libraries.

In [ ]:
# !pip install -U IPython

In [ ]:
# from IPython.display import Image
# Image(url= "img/image1.jpg", width=400, height=400)

In [ ]:
# from IPython.display import Image
# Image(url= "img/image2.jpg", width=400, height=400)

![image1.jpg](https://drive.google.com/uc?id=1_T8LPxMaYq06uW9JNqOy6Y0yIu_p9EZU)

![image2.jpg](https://drive.google.com/uc?id=15E-Od0G_2eqvCnR9t8Div5V4adnGbswA)

In [ ]:
import numpy as np

This function will be called `display_max`. Your input will be a `numpy array`. Your output will be to tell us at which index is the maximum value of each row. Separate your output for each row with commas.

If there are more than one maximum values, only tell us the position of the FIRST occurence. 

#### Example 1

Input array: `[[1,2,3,4,3], [5,10,8,3,2], [-5,7,8.4,1,0]]`

Output: 3, 1, 2

Explanation:

- The first row, `[1,2,3,4,3]`, has the maximum value of `4` at index = 3 (Remember! This is Python. Index starts at 0)

- The second row, `[5,10,8,3,2]`, has the maximum value of `10` at index = 1

- The third row, `[-5,7,8.4,1,0]`, has the maximum value of `8.4` at index = 2

So, your output should be '3,1,2'

#### Example 2

Input array = `[[5,10,1,3], [1,5,1,5], [0,3,1,8]]`

Output: 1,1,3

Explanation:

- The first row, `[5,10,1,3]` has the maximum value of `10` at index = 1
- The second row, `[1,5,1,5]` has the maximum value of `5` at index = 1, 3. But we only need to print the first occurence, so we only print index = 1. 
- The third row, `[0,3,1,8]` has the maximum value of `8` at index = 3.

So, your output should be '1,1,3'

#### Constrains:
- Number of rows could be any integer. We can have input array of any shape and sizes.

In [ ]:
from numpy import unravel_index

def display_max(input_array):
    ### Write your solution here ###
    a=input_array
    x=str(np.argmax(a, axis=1))
    n=len(x)-1
    x=x[1:n]
    x=x.replace(" ", ",")
    print("Output: ",x)
    return

Use this to check if your code is correct

In [ ]:
## Test Case 1
input_array = np.array([[5,10,1,3], [1,5,1,5], [0,3,1,8]])
display_max(input_array)

## Expected output: '1,1,3'

## Jika jawabannya '1,1,3,' (kelebihan koma) 
##... atau memiliki bentuk string lain yang
##... tidak sama persis dengan '1,1,3' tapi angka yang dikeluarkan 
##... sudah sama, maka kurangi nilainya sedikit saja

Output:  1,1,3

In [ ]:
## Test Case 2
input_array = np.array([[1,2,3,4,5,6], [6,5,4,3,2,1], [1,6,5,4,3,2],
                       [3,3,9,9,3,9]])
display_max(input_array)

## Expected output: '5,0,1,2'

## Jika jawabannya '5,0,1,2,' (kelebihan koma) 
##... atau memiliki bentuk string lain yang
##... tidak sama persis dengan '5,0,1,2' tapi angka yang dikeluarkan 
##... sudah sama, maka kurangi nilainya sedikit saja

Output:  5,0,1,2

In [ ]:
## Test Case 3
input_array = np.array([[-5,10], [10,-5], [1,1],
                       [2,1], [1,2]])
display_max(input_array)

## Expected output: '1,0,0,0,1'

## Jika jawabannya '1,0,0,0,1,' (kelebihan koma) 
##... atau memiliki bentuk string lain yang
##... tidak sama persis dengan '1,0,0,0,1' tapi angka yang dikeluarkan 
##... sudah sama, maka kurangi nilainya sedikit saja

Output:  1,0,0,0,1

##### Reminder ####

If the solution has looping `for`, `while`, you do not get the points. The aim of this exercise is to avoid looping while doing things that require certain conditions.

This function called `grade`. Input will be an array where each rows shows the score of a student. Output will be an array WITH THE EXACT SAME SIZE as the input array, but only filled with 'P' and 'F'.

- If the score is >= 70, then for that test, the student passes. We give the symbol 'P' to indicate that the student passes.
- If the score is < 70, then for that test, the student fails. We give the symbol 'F', to indicate that the student fails.

#### Example 1:

In [ ]:
input_array = np.array([[80,50,80,60,70],
                       [100,90,80,70,50],
                       [70,70,60,50,85]])
input_array

array([[ 80,  50,  80,  60,  70],
       [100,  90,  80,  70,  50],
       [ 70,  70,  60,  50,  85]])

If the input is like the above array, then it means we have `3` students. Each student has `5` scores.

- The first student's scores are: 80, 50, 80, 60, 70. From first to last, the student Pass, Fail, Pass, Fail, Pass
- The second student's scores are: 100, 90, 80, 70, 50. From first to last, the student Pass, Pass, Pass, Pass, Fail
- The third student's scores are: 70, 70, 60, 50, 80. From first to last, the student Pass, Pass, Fail, Fail, Pass

Then, when we do `grade(input_array)`, output should be like this:
`[[P,F,P,F,P],[P,P,P,P,F],[P,P,F,F,P]]`

#### Example 2:

In [ ]:
input_array = np.array([[100,50,100],
                       [70,70,70],
                       [40,80,40],
                       [50,55,80]])
input_array

array([[100,  50, 100],
       [ 70,  70,  70],
       [ 40,  80,  40],
       [ 50,  55,  80]])

If the input is like the above array, then it means we have `4` students. Each student has `3` scores. Then, when we do `grade(input_array)`,  output should be like this:

`[[P,F,P], [P,P,P], [F,P,F], [F,F,P]]`

In [ ]:
def grade(input_array):
    ### Write your solution here ###
    x=input_array
    x= np.where(x >= 70, "P", x)
    x= np.where(x != "P", "F", x)
    print(x)
    return

Use this to check if your code is correct

In [ ]:
### Test Case 1
input_array = np.array([
    [100,80,66,55,70],
    [80,44,50,80,71],
    [60,69,78,75,10],
    [100,50,60,70,55]
])

grade(input_array)

[['P' 'P' 'F' 'F' 'P']
 ['P' 'F' 'F' 'P' 'P']
 ['F' 'F' 'P' 'P' 'F']
 ['P' 'F' 'F' 'P' 'F']]

In [ ]:
### Test Case 2
input_array = np.array([
    [80],
    [70],
    [30],
    [62]
])

grade(input_array)

[['P']
 ['P']
 ['F']
 ['F']]

In [ ]:
### Test Case 3
input_array = np.array([
    [55,80,100,25],
    [80,70,60,50],
    [70,70,65,75],
])

grade(input_array)

[['F' 'P' 'P' 'F']
 ['P' 'P' 'F' 'F']
 ['P' 'P' 'F' 'P']]